.measurement
  padding: 73px 0 67px 0
  position: relative
  z-index: 999
  opacity: 1
  background: url('../assets/images/aplication/bg-1.jpg')
  background-repeat: no-repeat
  background-size: cover
  &:after
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6))
    z-index: -1
  +md
    background: url('../assets/images/aplication/bg-2.jpg')
    background-repeat: no-repeat
    background-size: cover
  +sm
    padding: 76px 0 79px 0

  &__content
    display: flex
    justify-content: space-between
    +lg
      flex-wrap: wrap
      
  &__desc
    max-width: 479px
    font-weight: 400
    font-size: 16px
    line-height: 147.5%
    color: $white
    +lg 
      display: none
      // font-size: 14px
      // max-width: 100%
      // margin-bottom: 40px

  &__title
    max-width: 633px
    font-size: 60px
    color: $white
    margin-bottom: 22px
    span
      color: $accent
    +xxl
      font-size: 48px
      max-width: 500px
    +xl 
      max-width: 410px
    // +lg
    //   max-width: 633px
    //   font-size: 60px
    // +md 
    //   font-size: 50px
    +lg
      display: none
    
  &__str
    max-width: 560px
    line-height: 147.5%
    font-weight: 400
    font-size: 16px
    color: $white
    +xxl
      max-width: 535px
    +xl 
      max-width: 400px
      font-size: 13px
    // +lg
    //   max-width: 560px
    //   margin-bottom: 75px
    +lg
      display: none
    

  &__btn
    margin-top: 34px
    padding: 16px 212px
    +xl 
      padding: 16px 175px
    +md 
      padding: 16px 180px
    +sm 
      padding: 16px 115px
      margin-top: 9px

    +xsm 
      padding: 16px 95px

  &__title-lg
    display: none
    +lg 
      display: block
      max-width: 312px
      color: $white
      font-size: 40px
      margin-bottom: 23px
    span
      color: $accent

  &__str-lg
    display: none
    +lg
      display: block
      color: $white
      max-width: 334px
      font-size: 14px
      line-height: 130%
      margin-bottom: 18px
      +xsm
        max-width: 319px