  <!-- Footer-->
  <footer class="footer">
    <div class="container">
      <div class="content">
        <div class="content__item">
          <h2 class="title content__title" ><span> получите скидку </span>-50% на монтаж</h2>
          <h3 class="content__str" >Мы зафиксируем за вашим номером скидку 50% на монтаж. Обещаем не присылать спам и ненужные рекламные предложения.</h3>
        </div>
        <div class="content__wrap">
          <h2 class="content__desc" >Введи ваш номер и им<br>и мы закрепим за ними скидку</h2>
          <form action="#">
            <div class="form-wrap">
              <div class="form-wrap__contacts">
                <svg class="icon icon--human">
                  <use xlink:href="assets/svg-sprite.svg#icon-human"></use>
                </svg>
                <input class="my-name" name="name" type="text" placeholder="Имя" required="required">
              </div>
            </div>
            <div class="form-wrap">
              <div class="form-wrap__contacts form-wrap__field">
                <svg class="icon icon--phone">
                  <use xlink:href="assets/svg-sprite.svg#icon-phone"></use>
                </svg>
                <input class="my-name" name="phone" placeholder="Телефон" required="required">
              </div>
            </div>
            <button type="submit" class="btn-primary">Отправить</button>
          </form>
        </div>
      </div>
    </div>
  </footer>

  <footer class="footer-bottom" >
    <div class="container">
      <div class="footer-bottom__content footer-bottom__content--line-between">
        <div class="footer-bottom__col">
          <a href="#" class="footer-bottom__logo">
            <img src="../../assets/images/footer-logo.svg" alt="logo" class="footer-bottom__prof">
          </a>
          <div class="footer-bottom__info" >
            <p class="footer-bottom__text">© Официальный сайт фирменной сети Профиль ДорсМежкомнатные и стеклянные двери фабрики ProfilDoors в СПб</p>
            <a class="footer-bottom__str" href="#">Правовая информация</a>
          </div>
        </div>
        <div class="footer-bottom__wrap">
          <div class="footer-bottom__col">
            <div class="footer-bottom__title">КАТЕГОРИИ</div>
              <ul class="footer__list">
                <li class="footer__item" ><a class="footer__link" href="#">Межкомнатные двери</a></li>
                <li class="footer__item" ><a class="footer__link" href="#">Скрытые двери</a></li>
                <li class="footer__item" ><a class="footer__link" href="#">Раздвижные двери</a></li>
                <li class="footer__item" ><a class="footer__link" href="#">Фурнитура</a></li>
              </ul>
          </div>
          <div class="footer__col">
            <div class="footer-bottom__title">АДРЕСА САЛОНОВ</div>
              <ul class="footer__list">
                <li class="footer__item" ><a class="footer__link" href="#">Межкомнатные двери</a></li>
                <li class="footer__item" ><a class="footer__link" href="#">Скрытые двери</a></li>
                <li class="footer__item" ><a class="footer__link" href="#">Раздвижные двери</a></li>
                <li class="footer__item" ><a class="footer__link" href="#">Фурнитура</a></li>
              </ul>
          </div>
          <div class="footer__col">
            <div class="footer-bottom__title">ИНФО</div>
              <ul class="footer__list">
                <li class="footer__item" ><a class="footer__link" href="#">Доставка</a></li>
                <li class="footer__item" ><a class="footer__link" href="#">Установка</a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="js/libs.min.js"></script>
  <script src="js/main.min.js"></script>
</body>
</html>