  <!-- Footer-->
  <footer class="footer">
    <div class="container">

      <div class="main-content">
        <div class="main-content__left-box">
          <h2 class="title title--color" >
            <span>получите скидку</span>-50% на монтаж
          </h2>
          <div class="main-content__content">
            <p>Мы зафиксируем за вашим номером скидку 50% на монтаж. Обещаем не присылать спам и ненужные рекламные предложения.</p>
          </div>
        </div>
      </div>
      
      <div class="right-box">
        <h2 class="right-box__info" >Введи ваш номер и имя и мы закрепим за ними скидку</h2>
        <form action="#">
          <svg class="icon icon--human">
            <use xlink:href="assets/svg-sprite.svg#icon-human"></use>
          </svg>
          <input type="text" name="name" placeholder="Имя">
        </form>
      </div>

    </div>
  </footer>

  
  <script src="js/libs.min.js"></script>
  <script src="js/main.min.js"></script>
</body>
</html>