<header class="header">
  <div class="container">
    <div class="header__top">
      <a href="#" class="header__city-link">
        <p class="header__city-title">г. Санкт-Петербург</p>
        <svg class="icon icon--city-arrow"><use xlink:href="assets/svg-sprite.svg#city-arrow"></use></svg>
      </a>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item"><a href="" class="header__link">Дизайнерам</a></li>
          <li class="header__item"><a href="" class="header__link">Доставка и оплата</a></li>
          <li class="header__item"><a href="" class="header__link">Наши работы</a></li>
          <li class="header__item"><a href="" class="header__link">Где купить</a></li>
        </ul>
      </nav>
    </div>
    <div class="header__main"></div>
    <div class="header__bottom"></div>
  </div>
</header>
