<header class="header">
  <div class="container">
    <div class="header__content-wrap">
      <a class="header__cities" href="#">г. Санкт-Петербург</a>
      <div class="header__img">
        <img class="header__arrow" src="../../assets/images/header/arrow.svg" alt="" />
      </div>
      <div class="header__modal">
        <ul>
          <li>Москва</li>
          <li>Санкт-Петербург</li>
          <li>Екатеринбург</li>
          <li>Казань</li>
          <li>Новосибирск</li>
          <li>Владивосток</li>
        </ul>
      </div>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__list-item">
            <a class="header__link" href="#">Дизайнерам</a>
          </li>
          <li class="header__list-item">
            <a class="header__link" href="#">Доставка и оплата</a>
          </li>
          <li class="header__list-item">
            <a class="header__link" href="#">Наши работы</a>
          </li>
          <li class="header__list-item">
            <a class="header__link" href="#">Где купить</a>
          </li>
        </ul>
      </nav>
      <img class="header__heart" src="../../assets/images/header/space.svg" alt="" />
      <div class="header__str">Заказать бесплатный замер</div>
      <div class="header__phone-wrap">
        <a class="header__phone" href="tel:+74959746937">+7 (495) 974-69-37</a>
      </div>
    </div>
  </div>
  <div class="header-main">
    <div class="container">
      <div class="header-main__content">
        <div class="header-main__wrap">
          <div class="logo header-main__logo">
            <img src="../../assets/images/header/ProfilDoors 4.png" alt="logo" />
          </div>
          <div class="header-main__dealer">Официальный<br />диллер</div>
        </div>
        <div class="header-main__nav">
          <ul class="header-main__list">
            <li class="header-main__list-item1">
              <div class="header-main__elipse">
                <img class="header-main__elipse1" src="../../assets/images/header/Ellipse.png" alt="eliose" />
                <img class="header-main__elipse2" src="../../assets/images/header/Ellipse.png" alt="eliose" />
                <img class="header-main__elipse3" src="../../assets/images/header/Ellipse.png" alt="eliose" />
                <img class="header-main__elipse4" src="../../assets/images/header/Ellipse.png" alt="eliose" />
              </div>
              <a class="header-main__link" href="#">Каталог</a>
            </li>
            <li class="header-main__list-item2">
              <a class="header-main__link" href="#">Межкомнатные двери</a>
            </li>
            <li class="header-main__list-item3">
              <a class="header-main__link" href="#">Скрытые двери</a>
            </li>
            <li class="header-main__list-item4">
              <a class="header-main__link" href="#">Системы открывания</a>
            </li>
          </ul>
        </div>
        <div class="header-main__icon">
          <div class="header-main__item">
            <img class="header-main__search" src="../../assets/images/header/search.svg" alt="" />
            <div class="search-box">
              <input type="text" class="search-input" />
              <button class="search-button">Search</button>
            </div>
            <img class="header-main__heart" src="../../assets/images/header/heart.svg" alt="" />
            <img class="header-main__basket" src="../../assets/images/header/basket.svg" alt="basket" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="header-main__menu">
    <div class="header-main__btn">
      <div class="header-main__button1">
        <img class="header-main__elipse1" src="../../assets/images/header/Ellipse.png" alt="eliose">
        <img class="header-main__elipse2" src="../../assets/images/header/Ellipse.png" alt="eliose">
        <img class="header-main__elipse3" src="../../assets/images/header/Ellipse.png" alt="eliose">
        <img class="header-main__elipse4" src="../../assets/images/header/Ellipse.png" alt="eliose">
          <p class="header-main__str">Каталог</p>
      </div>
      <div class="header-main__button2">Межкомнатные двери</div>
      <div class="header-main__button3">Скрытые двери</div>
      <div class="header-main__button4">Системы открывания</div>
    </div>
  </div>  -->
</header>
