<header class="header">
  <div class="container">
    <div class="header__content-wrap">
        <a class="header__cities" href="#">г. Санкт-Петербург</a>
        <div class="header__img">
          <img class="header__arrow" src="../../assets/images/header/arrow.svg" alt="">
        </div>
        <div class="header__modal">
          <ul>
            <li>Москва</li>
            <li>Санкт-Петербург</li>
            <li>Екатеринбург</li>
            <li>Казань</li>
            <li>Новосибирск</li>
            <li>Владивосток</li>
          </ul>
        </div>
        <nav class="header__nav">
          <ul class="header__list">
            <li class="header__list-item">
              <a class="header__link" href="#">Дизайнерам</a>
            </li>
            <li class="header__list-item">
              <a class="header__link" href="#">Доставка и оплата</a>
            </li>
            <li class="header__list-item">
              <a class="header__link" href="#">Наши работы</a>
            </li>
            <li class="header__list-item">
              <a class="header__link" href="#">Где купить</a>
            </li>
          </ul>
        </nav>
        <img class="header__heart" src="../../assets/images/header/space.svg" alt="">
        <div class="header__str">Заказать бесплатный замер</div>
        <div class="header__phone-wrap">
          <a class="header__phone" href="tel:+74959746937">+7 (495) 974-69-37</a>
        </div>
    </div>
  </div>
</header>