.btn
  position: relative
  display: inline-block
  font-weight: 400
  font-size: 16px
  line-height: 100%
  color: $title-color
  color: #fff
  text-align: center
  text-decoration: none
  border: none
  outline: none
  transition: all .3s ease
  user-select: none
  background-color: $accent
  // &:focus:not(.disabled),
  // &:hover:not(.disabled)
  //   outline: none
  //   cursor: pointer
  //   color: #fff
  //   text-decoration: none
  //   background-color: lighten($c1, 10%)

  &:active:not(.disabled)
    background-color: darken($c1, 5%)

  &.disabled
    opacity: .4

.link
  display: block
  border: 1px solid #DEDEDE
  border-radius: 5px
  padding: 6px 19px
  font-weight: 500
  font-size: 14px
  line-height: 100%
