.input-wrap
  position: relative
  border-bottom: 1px solid #A9AAAA
  display: flex
  align-items: center

input,
textarea
  width: 100%
  transition: all .3s ease
  border: none
  &:focus
    outline: none
    // color: $c1
  &:disabled
    // background: #fff
  &:autofill

.form
  &__input-name
    width: 460px
    height: 60px
    &::placeholder
      color: $main-color
      opacity: 0.8
      font-weight: 400
      font-size: 14px
      line-height: 100%
    &:active
      &::placeholder
        font-weight: 600

  &__input-phone
    width: 460px
    height: 60px
    &::placeholder
      color: $main-color
      opacity: 0.8
      font-weight: 400
      font-size: 14px
      line-height: 100%
    &:active
      &::placeholder
        font-weight: 600
  &__btn
    margin-top: 40px
    width: 460px
    height: 48px
    color: $title-color
    &:hover

.form-wrap
  +sm
    margin-top: 30px
  &:after
    content: ""
    display: block
    border-bottom: 1px solid #FFFFFF
    margin-top: 9px
    max-width: 100%
   
  &__contacts
    display: flex
    align-items: center
  &__field
    margin-top: 29px
    // &--line
    //   margin-bottom: -8px
  &__phone
    margin-top: 18px
    display: flex
    align-items: center

.my-name
  color: $white
  background: 0 0 
  margin-left: 20px
  cursor: pointer
  &::placeholder
    font-weight: 400
    font-size: 14px
    line-height: 100%
    color: $white
    opacity: 0.8
  &:active
    &::placeholder
      font-weight: 600
      
.form-item
  +sm
    margin-bottom: 18px
  &:after
    content: ""
    display: block
    max-width: 100%
    border-bottom: 1px solid #FFFFFF
    padding-top: 16px
  &__contacts
    display: flex
    align-items: center
    &--field
      padding-top: 9px
    &--distance
      margin-top: 19px
  &__phone
    margin-top: 18px
    display: flex
    align-items: center



