.input-wrap
  margin-bottom: 30px

input,
textarea
  width: 100%
  font-size: 16px
  color: yellow // TODO: Потом нужно вставить нужный цвет
  padding: 5px 10px
  border: 1px solid #999
  transition: all .3s ease
  &:focus
    outline: none
    border-color: $c1
  &:disabled
    background: #fff

::placeholder
  color: #999

.form-wrap
  +sm 
    margin-top: 30px
  &:after
    content: ""
    display: block
    border-bottom: 1px solid #FFFFFF
    margin-top: 16px
    width: 550px
    +sm 
      width: 348px
  &__contacts
    display: flex
    align-items: center
  &__field
    margin-top: 34px
  &__phone
    margin-top: 18px
    display: flex
    align-items: center
.my-name
  border: none
  font-weight: 400
  font-size: 14px
  line-height: 100%
  background: 0
  color: $white
  padding: 5px 20px
.phone
  border: none
  font-weight: 400
  font-size: 14px
  line-height: 100%
  background: 0
  color: $white
  padding: 5px 20px
