.icon
  &--city-arrow
    display: block
    width: 12px
    height: 7px
    fill: $main-color
  &--rocket
    display: block
    width: 12px
    height: 12px
    fill: $main-color
  &--catalog-btn-icon
    display: block
    width: 13px
    height: 13px
    fill: $main-color
  &--search-link
    display: block
    width: 17px
    height: 17px
    fill: $main-color
    &:hover
      fill: $hover-cl
  &--favourite-icon
    display: block
    width: 19px
    height: 17px
    fill: $main-color
    &:hover
      fill: $hover-cl

  &--basket-icon
    display: block
    width: 19px
    height: 17px
    fill: $main-color
    &:hover
      fill: $hover-cl
  &--arrow-circled
    width: 8px
    height: 22px
    fill: $white
  &--advantages
    // position: absolute
    // top: 0
    // left: 1px
  &--ruble-advantages
    display: block
    width: 31.81px
    height: 38.94px
    fill: $main-color
  &--percent-advantages
    display: block
    width: 40px
    height: 38.18px
    fill: $main-color
  &--decor-advantages
    display: block
    width: 40px
    height: 40.97px
    fill: $main-color
  &--payment-advantages
    display: block
    width: 31.81px
    height: 38.94px
    fill: $main-color
  &--prev-arrow
    cursor: pointer
    // position: absolute
    // top: -75px
    // right: 370px
    width: 35px
    height: 14px
    fill: $main-color
    &:hover
      fill: $hover-cl
  &--next-arrow
    cursor: pointer
    width: 35px
    height: 14px
    fill: $main-color
    &:hover
      fill: $hover-cl
  &--human-blue
    display: block
    width: 12px
    height: 15px
    fill: $main-color
    margin: 0 26px 0 14px
  &--human
    display: block
    height: 15.58px
    width: 13px
    margin-left: 20px
    cursor: pointer
    fill: $white
    opacity: 0.8
  &--phone
    display: block
    height: 13.05px
    width: 13px
    margin-left: 20px
    fill: $white
    opacity: 0.8
    cursor: pointer
  &--phone-blue
    display: block
    height: 13px
    width: 12px
    fill: $main-color
    margin: 0 26px 0 14px
  &--catalog-arrow
    display: block
    width: 5px
    height: 9px
    fill: $main-color
