.icon
  transition: all 0.5s ease

  &--close-menu
    display: block
    width: 17px
    height: 17px
    fill: $main-color
    cursor: pointer

  &--menu-table
    display: block
    width: 18px
    height: 18px
    fill: $hover-cl

  &--menu-arrow
    display: block
    width: 5.87px
    height: 10px
    fill: $hover-cl
    margin: 0 0 0 auto

  &--city-arrow
    display: block
    width: 12px
    height: 7px
    fill: $main-color

  &--rocket
    display: block
    width: 12px
    height: 12px
    fill: $main-color

  &--catalog-btn-icon
    display: block
    width: 13px
    height: 13px
    fill: $main-color

  &--search-link
    display: block
    width: 17px
    height: 17px
    fill: $main-color
    &:hover
      fill: $hover-cl

  &--favourite-icon
    display: block
    width: 19px
    height: 17px
    fill: $main-color
    &:hover
      fill: $hover-cl

  &--basket-icon
    display: block
    width: 19px
    height: 17px
    fill: $main-color
    &:hover
      fill: $hover-cl

  &--arrow-circled
    width: 8px
    height: 22px
    fill: $white

  &--advantages
    margin-bottom: 20px

  &--ruble-advantages
    display: block
    width: 31.81px
    height: 38.94px
    fill: $main-color
    +md
      min-width: 30px
      min-height: 36px
      max-width: 30px
      max-height: 36px

  &--percent-advantages
    display: block
    width: 40px
    height: 38.18px
    fill: $main-color
    +md
      min-width: 30px
      min-height: 36px
      max-width: 30px
      max-height: 36px

  &--decor-advantages
    display: block
    width: 40px
    height: 40.97px
    fill: $main-color
    +md
      min-width: 30px
      min-height: 36px
      max-width: 30px
      max-height: 36px

  &--payment-advantages
    display: block
    width: 31.81px
    height: 38.94px
    fill: $main-color
    +md
      min-width: 30px
      min-height: 36px
      max-width: 30px
      max-height: 36px

  &--prev-arrow
    cursor: pointer
    // position: absolute
    // top: -75px
    // right: 370px
    width: 35px
    height: 14px
    fill: $main-color
    &:hover
      fill: $hover-cl

  &--next-arrow
    cursor: pointer
    width: 35px
    height: 14px
    fill: $main-color
    &:hover
      fill: $hover-cl

  &--human-blue
    display: block
    min-width: 12px
    min-height: 15px
    max-width: 12px
    max-height: 15px
    fill: $main-color
    margin: 0 26px 0 14px

  &--human
    display: block
    height: 15.58px
    width: 13px
    margin-left: 20px
    cursor: pointer
    fill: $white
    opacity: 0.8

  &--phone
    display: block
    height: 13.05px
    width: 13px
    margin-left: 20px
    fill: $white
    opacity: 0.8
    cursor: pointer

  &--phone-blue
    display: block
    min-width: 12px
    min-height: 13px
    max-width: 12px
    max-height: 13px
    fill: $main-color
    margin: 0 26px 0 14px

  &--catalog-arrow
    display: block
    width: 5px
    height: 9px
    fill: $main-color
  &--next-prev
    display: block
    width: 14px
    height: 6px
    fill: $white
  &--main-mobile-left
    transform: rotate(180deg)
    width: 14px
    height: 6px

  &--whatsapp
    display: block
    width: 15px
    height: 16.2px
    fill: $white
