.icon
  &--arrow-circled
    width: 8px
    height: 22px
    fill: $white
  &--ruble-advantages
    display: block
    width: 41px
    height: 41px
    fill: $main-color
  &--percent-advantages
    display: block
    width: 41px
    height: 41px
    fill: $main-color
  &--decor-advantages
    display: block
    width: 41px
    height: 41px
    fill: $main-color
  &--payment-advantages
    display: block
    width: 41px
    height: 41px
    fill: $main-color

  &--human
    height: 15.58px
    width: 13px
    fill: $white
    margin-left: 20px
  &--phone
    height: 13.05px
    width: 13px
    fill: $white
    margin-left: 20px
