.slider
  position: relative
  &-wrap
    margin-left: calc((100vw - 1311px + 30px) / 2)
    +xxl
      margin-left: calc((100vw - 1140px + 30px) / 2)
    +xl
      margin-left: calc((100vw - 960px + 30px) / 2)
    +lg
      margin-left: calc((100vw - 720px + 30px) / 2)
    +md
      margin-left: calc((100vw - 520px + 30px) / 2)
    +sm
      margin-left: 15px
  &__box
    position: relative
  &__box--bordered
    border: 1px solid rgba(0, 0, 0, 0.2)
    // margin-right: 40px
  &__box--background
    background: linear-gradient(180deg, #5E8894 0%, #032C38 100%)
  &__box--padding
    padding: 46px 63px
  &__subtitle
    margin-top: 20px
  &__description
    margin-top: 14px
  &__descr-wrap
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    left: 10px
    top: 14px
    padding: 2px 11px
  &__img-description--link
    position: absolute
    left: 22px
    top: 16.4px
    color: $white
    &:hover
      color: $white
  &__bottom-wrap
    margin-top: 19px
    display: flex
    align-items: center
    justify-content: space-between
  &__doors-category
    font-weight: 700
    font-size: 16px
    line-height: 100%
    color: #747474

.slider .slick-slide
  width: 250px
  min-height: 505px
  margin-right: 40px
  +sm
    margin-right: 44px
