// Typography
::selection
  background-color: $c1
  color: #fff

*,pre
  margin: 0
  padding: 0

ul
  margin: 0
  padding: 0
  list-style-type: none

hr
  margin: 30px 0 30px 0
  border-top: 1px solid #C4C4C4

a
  transition: all .3s ease
  &:hover
    text-decoration: none
  &:focus
    text-decoration: none
    outline: none

img
  width: auto
  max-width: 100%
  height: auto

// Titles
h1, h2, h3, h4, h5, h6
  margin: 0
  padding: 0

.title
  font-family: $second-font
  font-weight: 700
  font-size: 80px
  line-height: 100%
  +xl
    font-size: 75px
  +lg
    font-size: 70px
  +md
    font-size: 65px
  +sm
    font-size: 60px

  &--first-yellow
    span
      color: #EDB362
  &--darken
    color: $title-color
  &--white
    color: $white

.text
  font-weight: 400
  font-size: 16px
  line-height: 110%
  letter-spacing: 0.01em

.subtitle
  display: block
  font-weight: 600
  font-size: 18px
  line-height: 115%
  color: #222222
  &:hover
    color: lighten(#222222, 30%)

.description
  font-weight: 400
  font-size: 16px
  line-height: 110%
  letter-spacing: 0.01em

.box
  display: block
  width: 250px
  height: 414px
  color: inherit
  &:hover
    color: inherit
  +sm
    width: 220px
    height: 364.32px

.descr-wrap
  opacity: 0.3
  border: 0.6px solid #000000
  border-radius: 3px
  width: max-content

// Paragraphs
p
  margin-bottom: 0

.img-descr
  font-weight: 700
  font-size: 12px
  line-height: 100%
  +sm
    font-size: 10px

.str
  font-weight: 400
  font-size: 16px
  line-height: 147.5%
  letter-spacing: 0.01em
  color: $main-color
  &:hover
    color: #88a0bf
