.advantages
  padding: 50px 0 100px
  &__wrapper
    display: flex
    justify-content: space-between
  &__item
    max-width: 250px
  &__subtitle
    margin-bottom: 10px
    font-weight: 600
    font-size: 18px
    line-height: 115%
    color: #1A1F31
  &__text
    font-weight: 400
    font-size: 16px
    line-height: 110%
    color: $black
