.advantages
  padding: 50px 0 100px
  &__wrapper
    display: flex
    // justify-content: space-between
    +xl
      flex-wrap: wrap
      column-gap: 350px
      row-gap: 30px
    +lg
      column-gap: 150px
    +md
      column-gap: 0
    +sm
      flex-wrap: nowrap
      flex-direction: column
      align-items: center
      justify-content: center
  &__item
    position: relative
    max-width: 250px
    min-width: 250px
    &:not(:last-child)
      margin-right: 93px
      +xxl
        margin-right: 50px
      +xl
        margin-right: 0
    +md
      max-width: 245px
      min-width: 240px
  &__subtitle
    color: $blue-bg
    margin-top: 63px
  &__description
    margin-top: 11px
    color: $black
