.hits
  padding: 100px 0 99px
  &__wrap
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 28px
  &__link
    color: $main-color
    width: 111px
    height: 28px
    margin-right: 122px
