.news
  padding: 50px 0 100px
  +lg
    padding-bottom: 70px
  +sm
    padding: 40px 0 77px 0
  &__seeall
    display: flex
    justify-content: space-between
  &__title
    margin-bottom: 28px
    +sm
      font-size: 40px
      max-width: 216px
  &__wrap
    display: flex
    justify-content: space-between
    +lg
      flex-wrap: wrap
      justify-content: center
      align-items: center
.new-doors
  +xxl
    max-width: 360px
  +xl
    max-width: 300px
  +lg
    max-width: 100%
  +sm
    max-width: 100%
  &__information-block
    position: absolute
    margin: 10px 0 0 10px
    padding: 2.4px 12px
    font-weight: 700
    font-size: 12px
    line-height: 100%
    color: $white
    border: 0.6px solid $white
    border-radius: 3px
    text-align: center
    background-color: rgba(80, 77, 77, 0.5)
    +sm 
      padding: 2px 10px
      font-size: 10px
      margin: 24px 0 0 8px
  &__collections
    margin-bottom: 19px
    max-width: 100%
    object-fit: cover
  &__date
    font-weight: 400
    font-size: 16px
    line-height: 100%
    color: #8C8C8C
    margin-bottom: 16px
    +sm
      font-size: 12px
      margin-bottom: 13px
  &__subtitle
    font-weight: 600
    font-size: 18px
    line-height: 115%
    color: $title-color
    margin-bottom: 9px
    &:hover
      color: #2b3b50
    +sm
      font-size: 14px
      line-height: 130%
  &__text
    max-width: 400px
    font-weight: 400
    font-size: 16px
    line-height: 110%
    color: $black
    +lg
      margin-bottom: 30px
      &:last-child(3)
        margin-bottom: none
        
    +sm
      margin: 0
      width: 350px
      font-size: 14px
      line-height: 130%
  &--display-none-sm
    +sm 
      display: none