.official
  background-color: $blue-bg
  padding: 80px 0
  &__wrapper
    position: relative
    display: flex
    justify-content: space-between
  &__content-wrap
    max-width: 415px
  &__title-wrap
    position: relative
  &__link-wrap
    position: absolute
    bottom: 45px
    right: 59px
  &__title
    color: #ffffff
    margin-bottom: 17px
  &__link
    font-family: $second-font
    font-weight: 400
    font-size: 26px
    line-height: 100%
    opacity: 0.8
    color: $white
    &:not(:last-child)
      margin-right: 7px
  &__description
    max-width: 447px
  &__text
    color: #ffffff
    &:not(:last-child)
      margin-bottom: 21px
  &__btn
    display: block
    margin-top: 35px
    padding: 16px 95px
    width: 320px
    height: 48px
    color: $title-color
    &:hover
      color: $title-color
      background-color: $white
