.proceeds
  padding: 50px 0 50px 0
  &__wrap
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 28px
  &__link
    margin-right: 35px
  &__buttons-wrap
    display: flex
  &__arrows-wrap
    display: flex
    column-gap: 20px
    +md
      display: none
