.footer
  padding: 76px 0 44px
  background: $title-color
.content
  display: flex
  justify-content: space-between
  +xl
    flex-wrap: wrap
  &__str
    max-width: 456px
    font-weight: 400
    font-size: 16px
    line-height: 110%
    color: $white
    margin-top: 4px
    +xl
      margin-top: 35px
  &__descr
    font-weight: 600
    font-size: 18px
    line-height: 21px
    color: $white
    margin-bottom: 40px
    +xl
      margin-top: 29px
.footer-bottom
  position: relative
  // padding: 31px 0 70px
  background: $title-color
  &__content
    position: relative
    display: flex
    border-top: 1px solid #383131
    padding: 31px 0 70px 0
    +xl
      display: flex
      flex-direction: column
    &--line-between
      &:after
        content: ''
        position: absolute
        top: 0
        left: 0
        height: 1px
  &__info-text
    max-width: 341px
    font-weight: 300
    font-size: 12px
    line-height: 133%
    color: $white
    margin: 20px 0 6px 0
  &__info
    font-weight: 300
    font-size: 12px
    line-height: 133%
    color: $white
    text-decoration: underline
  &__wrap
    min-width: 578px
    display: flex
    justify-content: space-between
    margin-left: 146px
    +xl
      margin: 0
      flex-direction: column
  &__col
  &__title
    margin-bottom: 24px
    font-weight: 600
    font-size: 16px
    line-height: 100%
    color: $white
    +xl
      margin: 40px 0 24px 0
.footer
  &__list
    font-weight: 400
    font-size: 14px
    line-height: 100%
    color: $white
  &__item:not(:last-child)
    margin-bottom: 16px
  &__link
    font-weight: 400
    font-size: 14px
    line-height: 100%
    color: $white






