.footer
  padding: 76px 0 44px 0
  background: $title-color
  +sm
    padding: 97px 0 74px 0
.content
  display: flex
  justify-content: space-between
  +xl
    flex-wrap: wrap
  &__title
    max-width: 525px
    margin-bottom: 4px
  &__str
    max-width: 456px
    font-weight: 400
    font-size: 16px
    line-height: 110%
    color: $white
    +sm
      width: 320px
      font-size: 14px
  &__desc
    font-weight: 600
    font-size: 18px
    line-height: 21px
    color: $white
    margin-bottom: 40px
    +sm 
      font-size: 14px
      margin-bottom: 32px
      
.footer-bottom
  position: relative
  background: $title-color
  &__content
    position: relative
    display: flex
    border-top: 1px solid #383131
    padding: 31px 0 70px 0
    +xl
      display: flex
      flex-direction: column
    &--line-between
      &:after
        content: ''
        position: absolute
        top: 0
        left: 0
    +sm 
      width: 350px
  &__prof
    margin-bottom: 20px
  &__text
    max-width: 341px
    font-weight: 300
    font-size: 12px
    line-height: 133%
    color: $white
    margin-bottom: 29px
  &__str
    font-weight: 300
    font-size: 12px
    line-height: 133%
    color: $white
    text-decoration: underline
    +xl 
      
  &__wrap
    width: 578px
    display: flex
    justify-content: space-between
    margin-left: 146px
    +xl
      margin-left: 0
      flex-direction: column
  &__col
  &__title
    font-weight: 600
    font-size: 16px
    line-height: 100%
    color: $white
    +xl
      margin: 40px 0 20px
.footer
  &__list
    font-weight: 400
    font-size: 14px
    line-height: 100%
    color: $white
    margin-top: 26px
  &__item:not(:last-child)
    margin-bottom: 16px
  &__link
    font-weight: 400
    font-size: 14px
    line-height: 100%
    color: $white






