.header
  &__top
    background: #F9F9F9
    padding: 10px 0 8px

  &__top-wrap
    display: flex
    align-items: center
    justify-content: space-between

  &__left-wrap
    display: flex
    align-items: center

  &__right-wrap
    display: flex
    align-items: center
    justify-content: space-between
    flex-basis: 384px
    +xl
      flex-basis: 340px

  &__city-link
    text-decoration: underline
    display: flex
    align-items: center
    font-weight: 600
    font-size: 12px
    line-height: 100%
    color: #2B3B50
    margin-right: 30px
    text-decoration: none
    &:hover
      color: $main-color
    +xl
      margin-right: 20px

  &__city-title
    margin-right: 9px
    text-decoration: underline

  &__list
    min-width: 436px
    display: flex
    justify-content: space-between
    +xl
      min-width: 395px

  &__item
    text-decoration: none
    font-weight: 400
    font-size: 12px
    line-height: 100%
  &__link
    color: $main-color
    &:hover
      border-bottom: 1px solid $main-color
      color: $main-color

  &__order-link
    display: flex
    align-items: center
    text-decoration: none
    line-height: 100%
    font-weight: 600
    font-size: 12px

  &__order-title
    color: $main-color
    margin-left: 12px
    &:hover
      border-bottom: 1px solid $main-color

  &__tel-link
    width: 115px
    display: block
    text-decoration: none
    font-weight: 600
    font-size: 12px
    line-height: 100%
    color: $main-color
    &:hover
      color: $main-color

  &__main
    padding: 30px 0 20px
    border-bottom: 1px solid #DDE0E3
  &__main-wrap
    display: flex
    align-items: center
    justify-content: space-between
  &__main-left
    display: flex
    align-items: center
    max-width: 371px
  &__link-wrap
    +lg

  &__logo-link
    width: 255px
    height: 50px
    +xxl
      width: 220px
    +lg

  &__logo-link--dn-992
    +lg
      display: none
  &__logo-link--dn
    display: none
    +lg
      display: block

  &__logo
    object-fit: cover

  &__dealer-link
    font-family: $deff
    font-weight: 400
    font-size: 12px
    line-height: 133%
    color: #000000
    margin-left: 20px
  &__main-icons
    width: 105px
    display: flex
  &__main-icon-link:not(:last-child)
    margin-right: 18px
  &__bottom
    padding: 20px 0
    border-bottom: 1px solid #DDE0E3
  &__bottom-list
    display: flex
    justify-content: space-between
    max-width: 1266px
  &__bottom-item
    // height: 12px
  &__bottom-link
    text-transform: uppercase
    color: $main-color
    font-weight: 500
    font-size: 12px
    line-height: 100%
    &:hover
      text-decoration: underline
      color: $main-color
      // border-bottom: 1px solid $main-color

.main-nav
  width: 710px
  &__list
    display: flex
    justify-content: space-between
    width: 734px
  &__link
    display: block
    max-height: 28px
    font-weight: 500
    font-size: 14px
    line-height: 100%
    border: 1px solid #DEDEDE
    border-radius: 5px
    color: $main-color
    &:hover
      border: 1px solid $main-color
      color: $main-color
  &__link--btn
    padding: 7px 20px
  &__link--catalog
    display: flex
    justify-content: space-between
    align-items: center
    width: 109px
    height: 28px
    position: relative
    padding: 7px 13px 7px 15px

.basket__link
  position: relative

.basket__link-circle
  min-width: 20px
  min-height: 20px
  background-color: $lighten-blue
  position: absolute
  right: -12px
  top: -10px
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center

.basket__link-circle span
  color: #1D1B1B
  font-weight: 600
  font-size: 15px
  line-height: 18px
