.header
  &__top
    background: #F9F9F9
    padding: 10px 0 8px
    +xl
      padding: 9px 0 9px
    +lg
      padding: 14px 0 18.5px

  &__top-wrap
    display: flex
    align-items: center
    justify-content: space-between

  &__left-wrap
    display: flex
    align-items: center

  &__right-wrap
    display: flex
    align-items: center
    justify-content: space-between
    flex-basis: 387px
    +xl
      flex-basis: 340px
    +lg
      flex-basis: 0

  &__city-link
    display: flex
    align-items: center
    font-weight: 600
    font-size: 12px
    line-height: 100%
    color: $main-color
    margin-right: 30px
    text-decoration: none
    white-space: nowrap
    transition: all 0.5s ease
    &:hover
      color: lighten(#2B3B50, 40%)
    +xl
      margin-right: 20px
      font-size: 10px

  &__city-title
    margin-right: 9px
    position: relative
    &::after
      content: ''
      height: 1px
      width: 100%
      position: absolute
      bottom: -1px
      left: 0
      background-color: $main-color

  &__list
    min-width: 436px
    display: flex
    justify-content: space-between
    +xl
      min-width: 379px
    +lg
      display: none

  &__item
    text-decoration: none
    font-weight: 400
    font-size: 12px
    line-height: 100%
    +xl
      font-size: 10px

  &__link
    color: $main-color
    &:hover
      border-bottom: 1px solid $main-color
      color: $main-color

  &__order-link
    display: flex
    align-items: center
    text-decoration: none
    line-height: 100%
    font-weight: 600
    font-size: 12px
    white-space: nowrap
    &:hover
      color: darken($main-color, 10%)
    +xl
      font-size: 10px
    +lg
      display: none

  &__order-title
    position: relative
    margin-left: 14px
    color: $main-color
    &:hover
      &::after
        content: ''
        height: 1px
        width: 100%
        position: absolute
        bottom: -1px
        left: 0
        background-color: $main-color
    +xl
      margin-left: 10px

  &__callback-wrap
    +sm
      transform: translateY(5px)

  &__tel-link
    display: block
    text-decoration: none
    font-weight: 600
    font-size: 12px
    line-height: 100%
    color: $main-color
    white-space: nowrap
    transition: all 0.3s ease
    &:hover
      color: lighten($main-color, 40%)
    +xl
      font-size: 10px
    +lg
      font-size: 12px

  &__callback-link
    position: relative
    font-weight: 600
    font-size: 10px
    line-height: 100%
    color: $main-color
    white-space: nowrap
    &::after
      content: ''
      position: absolute
      bottom: 0
      left: 0
      height: 1px
      width: 100%
      background-color: $main-color
    &:hover
      color: lighten($main-color, 50%)
    +min_lg
      display: none

  &__main
    padding: 30px 0 20px
    border-bottom: 1px solid #DDE0E3
    +xxl
      padding: 10px 0 20px
    +lg
      display: none

  &__main-wrap
    display: flex
    align-items: center
    +xxl
      // justify-content: space-between

  &__main-left
    display: flex
    align-items: center
    max-width: 371px
    margin-right: 45px
    +xxl
      margin-right: 18px
    +xl
      margin-right: 22px

  &__menu
    background: #F0F0F0
    +min_lg
      display: none

  &__menu-wrapper
    display: flex
    justify-content: space-between

  &__menu-btn-wrap
    position: relative
    display: flex
    justify-content: flex-start
    align-items: center
    width: 16%
    cursor: pointer
    &::after
      content: ''
      position: absolute
      right: 0
      width: 1px
      height: 50px
      background: radial-gradient(rgba(188, 188, 188, 0.69), rgba(146, 146, 146, 0), rgba(160, 160, 160, 0))

  &__menu-link
    display: flex
    justify-content: center
    align-items: center
    padding: 17px 0
    width: 28%
    &:hover
      background-color: darken(#F0F0F0, 5%)
      .icon--search-link--hover
        fill: #b4c8ff
      .icon--basket-icon--hover
        fill: #b4c8ff

  &__menu-link--whatsapp
    background-color: #72D365
    &:hover
      background-color: darken(#72D365, 10%)

  &__menu-btn
    width: 20px
    height: 12.4px
    cursor: pointer

  &__menu-btn span:nth-child(1)
    display: block
    width: 20px
    height: 1.4px
    background: $main-color
    margin-bottom: 4.6px

  &__menu-btn span:nth-child(2)
    display: block
    width: 16px
    height: 1.4px
    background: $main-color
    margin-bottom: 3.6px

  &__menu-btn span:nth-child(3)
    display: block
    width: 12px
    height: 1.4px
    background: $main-color

  &__top-logo
    display: block
    +lg
      width: 100px
      height: 19.5px
      margin-bottom: 10px
    +min_lg
      display: none

  &__logo-link
    width: 255px
    height: 50px
    +xxl
      width: 206px
      height: 40px
    +xl
      width: 192px
      height: 37px
    +lg
      display: none

  &__logo
    object-fit: cover

  &__dealer-link
    font-family: $deff
    font-weight: 400
    font-size: 12px
    line-height: 133%
    color: #000000
    margin-left: 20px
    transition: all 0.3s ease-in-out
    &:hover
      color: lighten(#2B3B50, 30%)
    +xxl
      margin-left: 16.5px
    +lg
      display: none

  &__main-icons
    display: flex
    margin-left: 22px
    +xxl
      margin-left: auto

  &__main-icon-link
    transition: all 0.3s ease

  &__main-icon-link:not(:last-child)
    margin-right: 19px

  &__bottom
    padding: 20px 0
    border-bottom: 1px solid #DDE0E3
    +md
      display: none

  &__bottom-list
    display: flex
    justify-content: space-between

  &__bottom-link
    text-transform: uppercase
    color: $main-color
    font-weight: 500
    font-size: 12px
    line-height: 100%
    &:hover
      text-decoration: underline
      color: $main-color

.main-nav

  &__list
    display: flex
    align-items: center
    +xxl
      min-width: 513px
    +xl
      min-width: 0

  &__item
    margin-right: 20px
    &:nth-child(4)
      margin-right: 0
      

  &__item--1200-dn
    +xxl
      display: none

  &__link
    display: block
    font-weight: 500
    font-size: 14px
    line-height: 100%
    border: 1px solid #DEDEDE
    border-radius: 5px
    color: $main-color
    transition: all 0.3s ease-in-out
    &:hover
      border: 1px solid $main-color
      color: $main-color

  &__link--btn
    padding: 7px 19px
    +xl
      display: none

  &__link--catalog
    display: flex
    justify-content: space-between
    align-items: center
    position: relative
    padding: 7px 13px 7px 15px

.basket__link
  position: relative

.basket__link-circle
  min-width: 20px
  min-height: 20px
  background-color: $lighten-blue
  position: absolute
  right: -12px
  top: -9px
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center

.basket__link-circle span
  color: #1D1B1B
  font-weight: 600
  font-size: 15px
  line-height: 18px

.mobile-menu
  position: fixed
  padding: 26px 0
  top: 0
  left: -100%
  z-index: 1000
  height: 100%
  width: 340px
  background: $white
  overflow-y: auto
  transition: all 0.5s ease

  &__top-wrap
    display: flex
    justify-content: space-between
    padding: 0 20px 20px 20px

  &__title
    font-weight: 700
    font-size: 24px
    line-height: 100%
    color: $main-color
    font-family: $second-font

  &__close-btn
    background: transparent
    border: none

  &__list
    margin-bottom: 30px

  &__item
    position: relative
    padding: 0 20px

  &__link
    display: flex
    align-items: center
    width: 100%
    font-weight: 600
    font-size: 14px
    line-height: 130%
    color: $main-color
    padding: 15px 0
    &:hover
      color: lighten($main-color, 15%)

  &__link--first
    &::before
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 1px
      background: #ECECEC

  &__link
    &::after
      content: ''
      position: absolute
      left: 0
      bottom: 0
      width: 100%
      height: 1px
      background: #ECECEC

  &__link.active
    .icon--menu-arrow
      transform: rotate(90deg)
    &::after
      content: ''
      display: none

  &__link
    &-text
      margin-left: 12px

  &__spoiler, &__catalog-spoiler, &__info-spoiler
    display: none

  &__spoiler
    padding-bottom: 25px

  &__spoiler-list
    display: flex
    flex-wrap: wrap

  &__spoiler-item
    font-weight: 500
    font-size: 12px
    line-height: 110%
    text-transform: uppercase
    width: 60px
    height: 59px
    border: 1px solid #E5E5E5
    display: flex
    align-items: center
    justify-content: center

  &__spoiler-link
    color: #545454
    position: relative
    &:hover
      color: lighten(#545454, 15%)
      &::after
        content: ''
        position: absolute
        bottom: -1px
        left: 0
        height: 1px
        width: 100%
        background: $main-color

  &__catalog-item
    font-weight: 400
    font-size: 14px
    line-height: 130%
    margin-bottom: 20px

  &__catalog-link
    color: $main-color
    &:hover
      color: lighten($main-color, 15%)

  &__info-item
    font-weight: 400
    font-size: 14px
    line-height: 130%
    margin-bottom: 20px

  &__info-link
    color: $main-color
    &:hover
      color: lighten($main-color, 15%)

  &__bottom-wrap
    padding: 0 20px

  &__title--mb
    margin-bottom: 20px

  &__social-item
    height: 46px
    width: 100%
    margin-bottom: 15px

  &__social-link
    display: flex
    justify-content: space-between
    align-items: center
    border: 1px solid #ECECEC
    padding: 13px 20px
    font-weight: 600
    font-size: 12px
    line-height: 100%
    color: $main-color
    &:hover
      color: lighten($main-color, 15%)

  &__social-whatsapp-circle
    display: flex
    align-items: center
    justify-content: center
    width: 20px
    height: 20px
    background: #29A71A
    border-radius: 50%

  &__time-descr
    font-weight: 600
    font-size: 12px
    line-height: 100%
    color: #9C9C9C

.mobile-menu--active
  left: 0
